.gallery {
  margin-bottom: 50px;
}

.gallery p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 60px;
  text-align: center;
}

.gallery > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 300px;
  margin: 40px;
}

.gallery .vint {
  display: inline;
  width: 27px;
  margin-left: -6px;
  margin-right: -4px;
  margin-bottom: -3px;
}
