.gallery {
  margin-bottom: 50px;
}

.gallery p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 100px;
  text-align: center;
}

.gallery > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery img {
  width: 300px;
  margin-bottom: 50px;
}
