html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 1.1px;
  line-height: 2rem;
}

p {
  opacity: 0.8;
}

.container {
  padding: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.about {
  margin: 110px 0;
  font-size: 1.3rem;
}

.map p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 70px;
  text-align: center;
}

.kontakty {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-around;
  margin: 100px 0;
}

.kontakty a {
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.kontakty img {
  margin-right: 20px;
}

.kontakty p {
  margin-bottom: 30px;
}

.kontakty p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
}
