.kontakty {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}

.kontakty a {
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.kontakty img {
  margin-right: 20px;
}

.kontakty p {
  margin-bottom: 30px;
}

.kontakty p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (max-width: 730px) {
  .kontakty {
    margin: 65px 0;
  }
  .kontakty > img {
    margin-right: 30px;
    width: 150px;
  }
  .kontakty > div {
    width: 280px;
  }
  .kontakty p:first-child {
    font-size: 1.3rem;
  }
  .kontakty p {
    margin-bottom: 15px;
  }
  .kontakty a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 470px) {
  .kontakty a {
    font-size: 1.1rem;
  }
  .kontakty img {
    margin-right: 5px;
  }
  .kontakty > img {
    margin-right: 20px;
    width: 100px;
  }
}
