.nav {
  align-items: center;
  background-image: linear-gradient(
    to top,
    rgba(255,255,255,0),
    rgba(255,255,255,0.5),
    rgba(255,255,255,1),
    rgba(255,255,255,1),
    rgba(255,255,255,1),
    rgba(255,255,255,1),
    rgba(255,255,255,1),
    rgba(255,255,255,1),
    rgba(255,255,255,1)
  );
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 10px;
  position: sticky;
  top: 0;
  z-index: 4;
}

.nav img {
  opacity: 0.9;
  cursor: pointer;
}

.nav-items {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  padding: 0 50px;
}

.nav-items a {
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0.7;
  text-decoration: none;
  transition: 0.3s;
}

.nav-items a:hover {
  opacity: 1;
}

.logo {
  max-width: 260px;
}

.call a {
  display: flex;
  color: rgb(146, 108, 94);
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
}

.call a img {
  margin-right: 20px;
}

@media screen and (max-width: 730px) {
  .nav a {
    flex-grow: 1;
  }
  .nav-items {
    justify-content: space-between;
    order: 3;
    padding: 0;
    width: 100%;
  }
  .nav-items a {
    flex-grow: unset;
    margin: 17px 0;
  }
  .call a {
    font-size: 1.3rem;
  }
  .logo {
    max-width: 190px;
  }
}

@media screen and (max-width: 530px) {
  .nav {
    flex-direction: column;
  }
  .logo {
    max-width: 240px;
  }
  .call a {
    margin: 15px 0 0;
  }
}
