.slider-wrapper {
  margin: 80px 0;
  position: relative;
  overflow: hidden;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slide {
  width: 100%;
  position: absolute;
  text-align: center;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.slide img {
  margin: 0 auto;
  width: 500px;
}

.slide p {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 60px;
}
.slide.active {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.slide.active~.slide {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.slide-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 6rem;
  width: 6rem;
  background-color: rgb(229, 227, 227);
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 100ms;
  z-index: 1;
}
.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#prev {
  left: 1rem;
}
#prev img {
  margin: 0 auto;
  transform: rotate(90deg) translateY(5px);
  width: 31px;
}

#next {
  right: 1rem;
}
#next img {
  margin: 0 auto;
  transform: rotate(-90deg) translateY(6px);
  width: 31px;
}

@media screen and (max-width: 730px) {
  .slider-wrapper {
    margin: 15px 0;
  }
  .slider {
    height: 370px;
  }
  .slide p {
    font-size: 1.5rem;
    margin-bottom: 45px;
  }
  .slide img {
    width: 370px;
  }
  .slide-arrow {
    width: 5rem;
    height: 5rem;
  }
  #prev img, #next img {
    width: 25px;
  }
}

@media screen and (max-width: 530px) {
  .slider-wrapper {
    margin: 45px 0;
  }
  .slider {
    height: 330px;
  }
  .slide img {
    width: 310px;
  }
  #prev {
    left: 0;
  }
  #next {
    right: 0;
  }
}

@media screen and (max-width: 470px) {
  .slide-arrow {
    width: 4rem;
    height: 4rem;
  }
  .slide img {
    width: 280px;
  }
  .slider {
    height: 290px;
  }
}
