#topBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 80px;
  height: 6rem;
  width: 6rem;
  z-index: 5;
  background-color: rgb(229, 227, 227);
  border: none;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 100ms;
}

#topBtn img {
  margin: 0 auto;
  transform: rotate(180deg) translateY(-30px);
  width: 31px;
}

#topBtn:hover, #topBtn:focus {
  opacity: 1;
}

@media screen and (max-width: 730px) {
  #topBtn {
    bottom: 45px;
    right: 40px;
    height: 5rem;
    width: 5rem;
  }
  #topBtn img {
    transform: rotate(180deg) translateY(-26px);
    width: 25px;
  }
}

@media screen and (max-width: 530px) {
  #topBtn {
    right: 30px;
  }
}
